services:
  comfyui:
    build:
      context: .
      dockerfile: Dockerfile
    image: komfyui-rocm:6.4-master
    container_name: komfyui-rocm
    restart: unless-stopped

    # AMD ROCm specific device mappings
    devices:
      - "/dev/kfd"
      - "/dev/dri"

    # Permissions required for GPU access
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    # 'render' and 'video' groups are often required for GPU access inside the container
    group_add:
      - video
    #   - render
    # IPC host is recommended for PyTorch to avoid shared memory errors with large models
    ipc: host
    ports:
      - "8188:8188"

    volumes:
      # This maps a local folder 'comfy_data' to '/app' inside the container.
      # The entrypoint will now git pull origin master inside this folder on every startup.
      - ./comfy_data:/app
      - ~/comfy-storage/venv:/venv
      - ~/comfy-storage/models:/app/models
      - ~/comfy-storage/output:/app/output
      - ~/comfy-storage/workflows:/app/user/default/workflows

    command: ["python3", "main.py", "--listen", "0.0.0.0", "--use-pytorch-cross-attention", "--bf16-vae", "--disable-xformers", "--disable-smart-memory"]
    
    environment:
      # Explicitly tell entrypoint to use master
      - COMFYUI_VERSION=master
      
      # HIP/ROCm Environment tweaks
      - TORCH_ROCM_AOTRITON_ENABLE_EXPERIMENTAL=1
      - HSA_OVERRIDE_GFX_VERSION=12.0.1 # Adjust based on your GPU
